{
  "parser": "babel-eslint",
  "extends": [
    "plugin:react/recommended",
    "plugin:jest/recommended",
    "react-app"
  ],
  "settings": {
    "import/resolver": {
      "babel-module": {
        "root": [
          "./src"
        ]
      }
    }
  },
  "plugins": [
    "jest"
  ],
  "env": {
    "jest/globals": true,
    "browser": true
  },
  "rules": {
    "indent": [
      "error",
      2
    ],
    "prefer-destructuring": [
      "off"
    ],
    "import/prefer-default-export": [
      "off"
    ],
    "no-confusing-arrow": [
      "off"
    ],
    "react/destructuring-assignment": [
      "off"
    ],
    "react/prefer-stateless-function": [
      "off"
    ],
    "react/jsx-filename-extension": [
      "off"
    ]
  }
}